/*  ==========================================================================
   #RESPONSIVE-SPACINGS
   ==========================================================================  * /
/**
 *  Utility classes enhancing the normal spacing classes by adding responsiveness
 *  to them. By default this brings us the following classes:
 *
 *    .u-margin-bottom-none {}
 *    .u-margin-bottom-none$xs {}
 *    .u-margin-bottom-none$sm {}
 *    .u-margin-bottom-none$md {}
 *    .u-margin-bottom-none$lg {}
 *
 *  It works with the grid and it's mobile first so a margin will change to adapt
 *  to the new grid on the new breakpoint so for example:
 *
 *   .u-margin should have a margin of 10px up to breakpoint sm where it'll change
 *   to 15px and then it will change to 25px on brakpoint lg
 *
 *  There are only three different grids so breakpoints sm and md share the spacings
 *
 **/

$spacing-unit-xs: 10px;
$spacing-unit-sm: 15px;
$spacing-unit: 20px;

//
//  Common
//  _____________________________________________

  
.u-margin { margin: $spacing-unit-xs !important; }
.u-margin-tiny { margin: $spacing-unit-xs / 4 !important; }
.u-margin-small { margin: $spacing-unit-xs / 2 !important; }
.u-margin-large { margin: $spacing-unit-xs * 2 !important; }
.u-margin-huge { margin: $spacing-unit-xs * 4 !important; }
.u-margin-none { margin: 0 !important; }
.u-margin-top { margin-top: $spacing-unit-xs !important; }
.u-margin-top-tiny { margin-top: $spacing-unit-xs / 4 !important; }
.u-margin-top-small { margin-top: $spacing-unit-xs / 2 !important; }
.u-margin-top-large { margin-top: $spacing-unit-xs * 2 !important; }
.u-margin-top-huge { margin-top: $spacing-unit-xs * 4 !important; }
.u-margin-top-none { margin-top: 0 !important; }
.u-margin-right { margin-right: $spacing-unit-xs !important; }
.u-margin-right-tiny { margin-right: $spacing-unit-xs / 4 !important; }
.u-margin-right-small { margin-right: $spacing-unit-xs / 2 !important; }
.u-margin-right-large { margin-right: $spacing-unit-xs * 2 !important; }
.u-margin-right-huge { margin-right: $spacing-unit-xs * 4 !important; }
.u-margin-right-none { margin-right: 0 !important; }
.u-margin-bottom { margin-bottom: $spacing-unit-xs !important; }
.u-margin-bottom-tiny { margin-bottom: $spacing-unit-xs / 4 !important; }
.u-margin-bottom-small { margin-bottom: $spacing-unit-xs / 2 !important; }
.u-margin-bottom-large { margin-bottom: $spacing-unit-xs * 2 !important; }
.u-margin-bottom-huge { margin-bottom: $spacing-unit-xs * 4 !important; }
.u-margin-bottom-none { margin-bottom: 0 !important; }
.u-margin-left { margin-left: $spacing-unit-xs !important; }
.u-margin-left-tiny { margin-left: $spacing-unit-xs / 4 !important; }
.u-margin-left-small { margin-left: $spacing-unit-xs / 2 !important; }
.u-margin-left-large { margin-left: $spacing-unit-xs * 2 !important; }
.u-margin-left-huge { margin-left: $spacing-unit-xs * 4 !important; }
.u-margin-left-none { margin-left: 0 !important; }
.u-margin-horizontal { margin-left: $spacing-unit-xs !important; margin-right: $spacing-unit-xs !important; }
.u-margin-horizontal-tiny { margin-left: $spacing-unit-xs / 4 !important; margin-right: $spacing-unit-xs / 4 !important; }
.u-margin-horizontal-small { margin-left: $spacing-unit-xs / 2 !important; margin-right: $spacing-unit-xs / 2 !important; }
.u-margin-horizontal-large { margin-left: $spacing-unit-xs * 2 !important; margin-right: $spacing-unit-xs * 2 !important; }
.u-margin-horizontal-huge { margin-left: $spacing-unit-xs * 4 !important; margin-right: $spacing-unit-xs * 4 !important; }
.u-margin-horizontal-none { margin-left: 0 !important; margin-right: 0 !important; }
.u-margin-vertical { margin-top: $spacing-unit-xs !important; margin-bottom: $spacing-unit-xs !important; }
.u-margin-vertical-tiny { margin-top: $spacing-unit-xs / 4 !important; margin-bottom: $spacing-unit-xs / 4 !important; }
.u-margin-vertical-small { margin-top: $spacing-unit-xs / 2 !important; margin-bottom: $spacing-unit-xs / 2 !important; }
.u-margin-vertical-large { margin-top: $spacing-unit-xs * 2 !important; margin-bottom: $spacing-unit-xs * 2 !important; }
.u-margin-vertical-huge { margin-top: $spacing-unit-xs * 4 !important; margin-bottom: $spacing-unit-xs * 4 !important; }
.u-margin-vertical-none { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-padding { padding: $spacing-unit-xs !important; }
.u-padding-tiny { padding: $spacing-unit-xs / 4 !important; }
.u-padding-small { padding: $spacing-unit-xs / 2 !important; }
.u-padding-large { padding: $spacing-unit-xs * 2 !important; }
.u-padding-huge { padding: $spacing-unit-xs * 4 !important; }
.u-padding-none { padding: 0 !important; }
.u-padding-top { padding-top: $spacing-unit-xs !important; }
.u-padding-top-tiny { padding-top: $spacing-unit-xs / 4 !important; }
.u-padding-top-small { padding-top: $spacing-unit-xs / 2 !important; }
.u-padding-top-large { padding-top: $spacing-unit-xs * 2 !important; }
.u-padding-top-huge { padding-top: $spacing-unit-xs * 4 !important; }
.u-padding-top-none { padding-top: 0 !important; }
.u-padding-right { padding-right: $spacing-unit-xs !important; }
.u-padding-right-tiny { padding-right: $spacing-unit-xs / 4 !important; }
.u-padding-right-small { padding-right: $spacing-unit-xs / 2 !important; }
.u-padding-right-large { padding-right: $spacing-unit-xs * 2 !important; }
.u-padding-right-huge { padding-right: $spacing-unit-xs * 4 !important; }
.u-padding-right-none { padding-right: 0 !important; }
.u-padding-bottom { padding-bottom: $spacing-unit-xs !important; }
.u-padding-bottom-tiny { padding-bottom: $spacing-unit-xs / 4 !important; }
.u-padding-bottom-small { padding-bottom: $spacing-unit-xs / 2 !important; }
.u-padding-bottom-large { padding-bottom: $spacing-unit-xs * 2 !important; }
.u-padding-bottom-huge { padding-bottom: $spacing-unit-xs * 4 !important; }
.u-padding-bottom-none { padding-bottom: 0 !important; }
.u-padding-left { padding-left: $spacing-unit-xs !important; }
.u-padding-left-tiny { padding-left: $spacing-unit-xs / 4 !important; }
.u-padding-left-small { padding-left: $spacing-unit-xs / 2 !important; }
.u-padding-left-large { padding-left: $spacing-unit-xs * 2 !important; }
.u-padding-left-huge { padding-left: $spacing-unit-xs * 4 !important; }
.u-padding-left-none { padding-left: 0 !important; }
.u-padding-horizontal { padding-left: $spacing-unit-xs !important; padding-right: $spacing-unit-xs !important; }
.u-padding-horizontal-tiny { padding-left: $spacing-unit-xs / 4 !important; padding-right: $spacing-unit-xs / 4 !important; }
.u-padding-horizontal-small { padding-left: $spacing-unit-xs / 2 !important; padding-right: $spacing-unit-xs / 2 !important; }
.u-padding-horizontal-large { padding-left: $spacing-unit-xs * 2 !important; padding-right: $spacing-unit-xs * 2 !important; }
.u-padding-horizontal-huge { padding-left: $spacing-unit-xs * 4 !important; padding-right: $spacing-unit-xs * 4 !important; }
.u-padding-horizontal-none { padding-left: 0 !important; padding-right: 0 !important; }
.u-padding-vertical { padding-top: $spacing-unit-xs !important; padding-bottom: $spacing-unit-xs !important; }
.u-padding-vertical-tiny { padding-top: $spacing-unit-xs / 4 !important; padding-bottom: $spacing-unit-xs / 4 !important; }
.u-padding-vertical-small { padding-top: $spacing-unit-xs / 2 !important; padding-bottom: $spacing-unit-xs / 2 !important; }
.u-padding-vertical-large { padding-top: $spacing-unit-xs * 2 !important; padding-bottom: $spacing-unit-xs * 2 !important; }
.u-padding-vertical-huge { padding-top: $spacing-unit-xs * 4 !important; padding-bottom: $spacing-unit-xs * 4 !important; }
.u-padding-vertical-none { padding-top: 0 !important; padding-bottom: 0 !important; }


@media (min-width: 768px) {

    .u-margin\@sm { margin: $spacing-unit-sm !important; }
    .u-margin-tiny\@sm { margin: $spacing-unit-sm / 4 !important; }
    .u-margin-small\@sm { margin: $spacing-unit-sm / 2 !important; }
    .u-margin-large\@sm { margin: $spacing-unit-sm * 2 !important; }
    .u-margin-huge\@sm { margin: $spacing-unit-sm * 4 !important; }
    .u-margin-none\@sm { margin: 0 !important; }
    .u-margin-top\@sm { margin-top: $spacing-unit-sm !important; }
    .u-margin-top-tiny\@sm { margin-top: $spacing-unit-sm / 4 !important; }
    .u-margin-top-small\@sm { margin-top: $spacing-unit-sm / 2 !important; }
    .u-margin-top-large\@sm { margin-top: $spacing-unit-sm * 2 !important; }
    .u-margin-top-huge\@sm { margin-top: $spacing-unit-sm * 4 !important; }
    .u-margin-top-none\@sm { margin-top: 0 !important; }
    .u-margin-right\@sm { margin-right: $spacing-unit-sm !important; }
    .u-margin-right-tiny\@sm { margin-right: $spacing-unit-sm / 4 !important; }
    .u-margin-right-small\@sm { margin-right: $spacing-unit-sm / 2 !important; }
    .u-margin-right-large\@sm { margin-right: $spacing-unit-sm * 2 !important; }
    .u-margin-right-huge\@sm { margin-right: $spacing-unit-sm * 4 !important; }
    .u-margin-right-none\@sm { margin-right: 0 !important; }
    .u-margin-bottom\@sm { margin-bottom: $spacing-unit-sm !important; }
    .u-margin-bottom-tiny\@sm { margin-bottom: $spacing-unit-sm / 4 !important; }
    .u-margin-bottom-small\@sm { margin-bottom: $spacing-unit-sm / 2 !important; }
    .u-margin-bottom-large\@sm { margin-bottom: $spacing-unit-sm * 2 !important; }
    .u-margin-bottom-huge\@sm { margin-bottom: $spacing-unit-sm * 4 !important; }
    .u-margin-bottom-none\@sm { margin-bottom: 0 !important; }
    .u-margin-left\@sm { margin-left: $spacing-unit-sm !important; }
    .u-margin-left-tiny\@sm { margin-left: $spacing-unit-sm / 4 !important; }
    .u-margin-left-small\@sm { margin-left: $spacing-unit-sm / 2 !important; }
    .u-margin-left-large\@sm { margin-left: $spacing-unit-sm * 2 !important; }
    .u-margin-left-huge\@sm { margin-left: $spacing-unit-sm * 4 !important; }
    .u-margin-left-none\@sm { margin-left: 0 !important; }
    .u-margin-horizontal\@sm { margin-left: $spacing-unit-sm !important; margin-right: $spacing-unit-sm !important; }
    .u-margin-horizontal-tiny\@sm { margin-left: $spacing-unit-sm / 4 !important; margin-right: $spacing-unit-sm / 4 !important; }
    .u-margin-horizontal-small\@sm { margin-left: $spacing-unit-sm / 2 !important; margin-right: $spacing-unit-sm / 2 !important; }
    .u-margin-horizontal-large\@sm { margin-left: $spacing-unit-sm * 2 !important; margin-right: $spacing-unit-sm * 2 !important; }
    .u-margin-horizontal-huge\@sm { margin-left: $spacing-unit-sm * 4 !important; margin-right: $spacing-unit-sm * 4 !important; }
    .u-margin-horizontal-none\@sm { margin-left: 0 !important; margin-right: 0 !important; }
    .u-margin-vertical\@sm { margin-top: $spacing-unit-sm !important; margin-bottom: $spacing-unit-sm !important; }
    .u-margin-vertical-tiny\@sm { margin-top: $spacing-unit-sm / 4 !important; margin-bottom: $spacing-unit-sm / 4 !important; }
    .u-margin-vertical-small\@sm { margin-top: $spacing-unit-sm / 2 !important; margin-bottom: $spacing-unit-sm / 2 !important; }
    .u-margin-vertical-large\@sm { margin-top: $spacing-unit-sm * 2 !important; margin-bottom: $spacing-unit-sm * 2 !important; }
    .u-margin-vertical-huge\@sm { margin-top: $spacing-unit-sm * 4 !important; margin-bottom: $spacing-unit-sm * 4 !important; }
    .u-margin-vertical-none\@sm { margin-top: 0 !important; margin-bottom: 0 !important; }
    .u-padding\@sm { padding: $spacing-unit-sm !important; }
    .u-padding-tiny\@sm { padding: $spacing-unit-sm / 4 !important; }
    .u-padding-small\@sm { padding: $spacing-unit-sm / 2 !important; }
    .u-padding-large\@sm { padding: $spacing-unit-sm * 2 !important; }
    .u-padding-huge\@sm { padding: $spacing-unit-sm * 4 !important; }
    .u-padding-none\@sm { padding: 0 !important; }
    .u-padding-top\@sm { padding-top: $spacing-unit-sm !important; }
    .u-padding-top-tiny\@sm { padding-top: $spacing-unit-sm / 4 !important; }
    .u-padding-top-small\@sm { padding-top: $spacing-unit-sm / 2 !important; }
    .u-padding-top-large\@sm { padding-top: $spacing-unit-sm * 2 !important; }
    .u-padding-top-huge\@sm { padding-top: $spacing-unit-sm * 4 !important; }
    .u-padding-top-none\@sm { padding-top: 0 !important; }
    .u-padding-right\@sm { padding-right: $spacing-unit-sm !important; }
    .u-padding-right-tiny\@sm { padding-right: $spacing-unit-sm / 4 !important; }
    .u-padding-right-small\@sm { padding-right: $spacing-unit-sm / 2 !important; }
    .u-padding-right-large\@sm { padding-right: $spacing-unit-sm * 2 !important; }
    .u-padding-right-huge\@sm { padding-right: $spacing-unit-sm * 4 !important; }
    .u-padding-right-none\@sm { padding-right: 0 !important; }
    .u-padding-bottom\@sm { padding-bottom: $spacing-unit-sm !important; }
    .u-padding-bottom-tiny\@sm { padding-bottom: $spacing-unit-sm / 4 !important; }
    .u-padding-bottom-small\@sm { padding-bottom: $spacing-unit-sm / 2 !important; }
    .u-padding-bottom-large\@sm { padding-bottom: $spacing-unit-sm * 2 !important; }
    .u-padding-bottom-huge\@sm { padding-bottom: $spacing-unit-sm * 4 !important; }
    .u-padding-bottom-none\@sm { padding-bottom: 0 !important; }
    .u-padding-left\@sm { padding-left: $spacing-unit-sm !important; }
    .u-padding-left-tiny\@sm { padding-left: $spacing-unit-sm / 4 !important; }
    .u-padding-left-small\@sm { padding-left: $spacing-unit-sm / 2 !important; }
    .u-padding-left-large\@sm { padding-left: $spacing-unit-sm * 2 !important; }
    .u-padding-left-huge\@sm { padding-left: $spacing-unit-sm * 4 !important; }
    .u-padding-left-none\@sm { padding-left: 0 !important; }
    .u-padding-horizontal\@sm { padding-left: $spacing-unit-sm !important; padding-right: $spacing-unit-sm !important; }
    .u-padding-horizontal-tiny\@sm { padding-left: $spacing-unit-sm / 4 !important; padding-right: $spacing-unit-sm / 4 !important; }
    .u-padding-horizontal-small\@sm { padding-left: $spacing-unit-sm / 2 !important; padding-right: $spacing-unit-sm / 2 !important; }
    .u-padding-horizontal-large\@sm { padding-left: $spacing-unit-sm * 2 !important; padding-right: $spacing-unit-sm * 2 !important; }
    .u-padding-horizontal-huge\@sm { padding-left: $spacing-unit-sm * 4 !important; padding-right: $spacing-unit-sm * 4 !important; }
    .u-padding-horizontal-none\@sm { padding-left: 0 !important; padding-right: 0 !important; }
    .u-padding-vertical\@sm { padding-top: $spacing-unit-sm !important; padding-bottom: $spacing-unit-sm !important; }
    .u-padding-vertical-tiny\@sm { padding-top: $spacing-unit-sm / 4 !important; padding-bottom: $spacing-unit-sm / 4 !important; }
    .u-padding-vertical-small\@sm { padding-top: $spacing-unit-sm / 2 !important; padding-bottom: $spacing-unit-sm / 2 !important; }
    .u-padding-vertical-large\@sm { padding-top: $spacing-unit-sm * 2 !important; padding-bottom: $spacing-unit-sm * 2 !important; }
    .u-padding-vertical-huge\@sm { padding-top: $spacing-unit-sm * 4 !important; padding-bottom: $spacing-unit-sm * 4 !important; }
    .u-padding-vertical-none\@sm { padding-top: 0 !important; padding-bottom: 0 !important; }
}

@media (min-width: 992px) {
    .u-margin\@md { margin: $spacing-unit-sm !important; }
    .u-margin-tiny\@md { margin: $spacing-unit-sm / 4 !important; }
    .u-margin-small\@md { margin: $spacing-unit-sm / 2 !important; }
    .u-margin-large\@md { margin: $spacing-unit-sm * 2 !important; }
    .u-margin-huge\@md { margin: $spacing-unit-sm * 4 !important; }
    .u-margin-none\@md { margin: 0 !important; }
    .u-margin-top\@md { margin-top: $spacing-unit-sm !important; }
    .u-margin-top-tiny\@md { margin-top: $spacing-unit-sm / 4 !important; }
    .u-margin-top-small\@md { margin-top: $spacing-unit-sm / 2 !important; }
    .u-margin-top-large\@md { margin-top: $spacing-unit-sm * 2 !important; }
    .u-margin-top-huge\@md { margin-top: $spacing-unit-sm * 4 !important; }
    .u-margin-top-none\@md { margin-top: 0 !important; }
    .u-margin-right\@md { margin-right: $spacing-unit-sm !important; }
    .u-margin-right-tiny\@md { margin-right: $spacing-unit-sm / 4 !important; }
    .u-margin-right-small\@md { margin-right: $spacing-unit-sm / 2 !important; }
    .u-margin-right-large\@md { margin-right: $spacing-unit-sm * 2 !important; }
    .u-margin-right-huge\@md { margin-right: $spacing-unit-sm * 4 !important; }
    .u-margin-right-none\@md { margin-right: 0 !important; }
    .u-margin-bottom\@md { margin-bottom: $spacing-unit-sm !important; }
    .u-margin-bottom-tiny\@md { margin-bottom: $spacing-unit-sm / 4 !important; }
    .u-margin-bottom-small\@md { margin-bottom: $spacing-unit-sm / 2 !important; }
    .u-margin-bottom-large\@md { margin-bottom: $spacing-unit-sm * 2 !important; }
    .u-margin-bottom-huge\@md { margin-bottom: $spacing-unit-sm * 4 !important; }
    .u-margin-bottom-none\@md { margin-bottom: 0 !important; }
    .u-margin-left\@md { margin-left: $spacing-unit-sm !important; }
    .u-margin-left-tiny\@md { margin-left: $spacing-unit-sm / 4 !important; }
    .u-margin-left-small\@md { margin-left: $spacing-unit-sm / 2 !important; }
    .u-margin-left-large\@md { margin-left: $spacing-unit-sm * 2 !important; }
    .u-margin-left-huge\@md { margin-left: $spacing-unit-sm * 4 !important; }
    .u-margin-left-none\@md { margin-left: 0 !important; }
    .u-margin-horizontal\@md { margin-left: $spacing-unit-sm !important; margin-right: $spacing-unit-sm !important; }
    .u-margin-horizontal-tiny\@md { margin-left: $spacing-unit-sm / 4 !important; margin-right: $spacing-unit-sm / 4 !important; }
    .u-margin-horizontal-small\@md { margin-left: $spacing-unit-sm / 2 !important; margin-right: $spacing-unit-sm / 2 !important; }
    .u-margin-horizontal-large\@md { margin-left: $spacing-unit-sm * 2 !important; margin-right: $spacing-unit-sm * 2 !important; }
    .u-margin-horizontal-huge\@md { margin-left: $spacing-unit-sm * 4 !important; margin-right: $spacing-unit-sm * 4 !important; }
    .u-margin-horizontal-none\@md { margin-left: 0 !important; margin-right: 0 !important; }
    .u-margin-vertical\@md { margin-top: $spacing-unit-sm !important; margin-bottom: $spacing-unit-sm !important; }
    .u-margin-vertical-tiny\@md { margin-top: $spacing-unit-sm / 4 !important; margin-bottom: $spacing-unit-sm / 4 !important; }
    .u-margin-vertical-small\@md { margin-top: $spacing-unit-sm / 2 !important; margin-bottom: $spacing-unit-sm / 2 !important; }
    .u-margin-vertical-large\@md { margin-top: $spacing-unit-sm * 2 !important; margin-bottom: $spacing-unit-sm * 2 !important; }
    .u-margin-vertical-huge\@md { margin-top: $spacing-unit-sm * 4 !important; margin-bottom: $spacing-unit-sm * 4 !important; }
    .u-margin-vertical-none\@md { margin-top: 0 !important; margin-bottom: 0 !important; }
    .u-padding\@md { padding: $spacing-unit-sm !important; }
    .u-padding-tiny\@md { padding: $spacing-unit-sm / 4 !important; }
    .u-padding-small\@md { padding: $spacing-unit-sm / 2 !important; }
    .u-padding-large\@md { padding: $spacing-unit-sm * 2 !important; }
    .u-padding-huge\@md { padding: $spacing-unit-sm * 4 !important; }
    .u-padding-none\@md { padding: 0 !important; }
    .u-padding-top\@md { padding-top: $spacing-unit-sm !important; }
    .u-padding-top-tiny\@md { padding-top: $spacing-unit-sm / 4 !important; }
    .u-padding-top-small\@md { padding-top: $spacing-unit-sm / 2 !important; }
    .u-padding-top-large\@md { padding-top: $spacing-unit-sm * 2 !important; }
    .u-padding-top-huge\@md { padding-top: $spacing-unit-sm * 4 !important; }
    .u-padding-top-none\@md { padding-top: 0 !important; }
    .u-padding-right\@md { padding-right: $spacing-unit-sm !important; }
    .u-padding-right-tiny\@md { padding-right: $spacing-unit-sm / 4 !important; }
    .u-padding-right-small\@md { padding-right: $spacing-unit-sm / 2 !important; }
    .u-padding-right-large\@md { padding-right: $spacing-unit-sm * 2 !important; }
    .u-padding-right-huge\@md { padding-right: $spacing-unit-sm * 4 !important; }
    .u-padding-right-none\@md { padding-right: 0 !important; }
    .u-padding-bottom\@md { padding-bottom: $spacing-unit-sm !important; }
    .u-padding-bottom-tiny\@md { padding-bottom: $spacing-unit-sm / 4 !important; }
    .u-padding-bottom-small\@md { padding-bottom: $spacing-unit-sm / 2 !important; }
    .u-padding-bottom-large\@md { padding-bottom: $spacing-unit-sm * 2 !important; }
    .u-padding-bottom-huge\@md { padding-bottom: $spacing-unit-sm * 4 !important; }
    .u-padding-bottom-none\@md { padding-bottom: 0 !important; }
    .u-padding-left\@md { padding-left: $spacing-unit-sm !important; }
    .u-padding-left-tiny\@md { padding-left: $spacing-unit-sm / 4 !important; }
    .u-padding-left-small\@md { padding-left: $spacing-unit-sm / 2 !important; }
    .u-padding-left-large\@md { padding-left: $spacing-unit-sm * 2 !important; }
    .u-padding-left-huge\@md { padding-left: $spacing-unit-sm * 4 !important; }
    .u-padding-left-none\@md { padding-left: 0 !important; }
    .u-padding-horizontal\@md { padding-left: $spacing-unit-sm !important; padding-right: $spacing-unit-sm !important; }
    .u-padding-horizontal-tiny\@md { padding-left: $spacing-unit-sm / 4 !important; padding-right: $spacing-unit-sm / 4 !important; }
    .u-padding-horizontal-small\@md { padding-left: $spacing-unit-sm / 2 !important; padding-right: $spacing-unit-sm / 2 !important; }
    .u-padding-horizontal-large\@md { padding-left: $spacing-unit-sm * 2 !important; padding-right: $spacing-unit-sm * 2 !important; }
    .u-padding-horizontal-huge\@md { padding-left: $spacing-unit-sm * 4 !important; padding-right: $spacing-unit-sm * 4 !important; }
    .u-padding-horizontal-none\@md { padding-left: 0 !important; padding-right: 0 !important; }
    .u-padding-vertical\@md { padding-top: $spacing-unit-sm !important; padding-bottom: $spacing-unit-sm !important; }
    .u-padding-vertical-tiny\@md { padding-top: $spacing-unit-sm / 4 !important; padding-bottom: $spacing-unit-sm / 4 !important; }
    .u-padding-vertical-small\@md { padding-top: $spacing-unit-sm / 2 !important; padding-bottom: $spacing-unit-sm / 2 !important; }
    .u-padding-vertical-large\@md { padding-top: $spacing-unit-sm * 2 !important; padding-bottom: $spacing-unit-sm * 2 !important; }
    .u-padding-vertical-huge\@md { padding-top: $spacing-unit-sm * 4 !important; padding-bottom: $spacing-unit-sm * 4 !important; }
    .u-padding-vertical-none\@md { padding-top: 0 !important; padding-bottom: 0 !important; }
}

@media (min-width: 1125px) {

    .u-margin\@lg { margin: $spacing-unit !important; }
    .u-margin-tiny\@lg { margin: $spacing-unit / 4 !important; }
    .u-margin-small\@lg { margin: $spacing-unit / 2 !important; }
    .u-margin-large\@lg { margin: $spacing-unit * 2 !important; }
    .u-margin-huge\@lg { margin: $spacing-unit * 4 !important; }
    .u-margin-none\@lg { margin: 0 !important; }
    .u-margin-top\@lg { margin-top: $spacing-unit !important; }
    .u-margin-top-tiny\@lg { margin-top: $spacing-unit / 4 !important; }
    .u-margin-top-small\@lg { margin-top: $spacing-unit / 2 !important; }
    .u-margin-top-large\@lg { margin-top: $spacing-unit * 2 !important; }
    .u-margin-top-huge\@lg { margin-top: $spacing-unit * 4 !important; }
    .u-margin-top-none\@lg { margin-top: 0 !important; }
    .u-margin-right\@lg { margin-right: $spacing-unit !important; }
    .u-margin-right-tiny\@lg { margin-right: $spacing-unit / 4 !important; }
    .u-margin-right-small\@lg { margin-right: $spacing-unit / 2 !important; }
    .u-margin-right-large\@lg { margin-right: $spacing-unit * 2 !important; }
    .u-margin-right-huge\@lg { margin-right: $spacing-unit * 4 !important; }
    .u-margin-right-none\@lg { margin-right: 0 !important; }
    .u-margin-bottom\@lg { margin-bottom: $spacing-unit !important; }
    .u-margin-bottom-tiny\@lg { margin-bottom: $spacing-unit / 4 !important; }
    .u-margin-bottom-small\@lg { margin-bottom: $spacing-unit / 2 !important; }
    .u-margin-bottom-large\@lg { margin-bottom: $spacing-unit * 2 !important; }
    .u-margin-bottom-huge\@lg { margin-bottom: $spacing-unit * 4 !important; }
    .u-margin-bottom-none\@lg { margin-bottom: 0 !important; }
    .u-margin-left\@lg { margin-left: $spacing-unit !important; }
    .u-margin-left-tiny\@lg { margin-left: $spacing-unit / 4 !important; }
    .u-margin-left-small\@lg { margin-left: $spacing-unit / 2 !important; }
    .u-margin-left-large\@lg { margin-left: $spacing-unit * 2 !important; }
    .u-margin-left-huge\@lg { margin-left: $spacing-unit * 4 !important; }
    .u-margin-left-none\@lg { margin-left: 0 !important; }
    .u-margin-horizontal\@lg { margin-left: $spacing-unit !important; margin-right: $spacing-unit !important; }
    .u-margin-horizontal-tiny\@lg { margin-left: $spacing-unit / 4 !important; margin-right: $spacing-unit / 4 !important; }
    .u-margin-horizontal-small\@lg { margin-left: $spacing-unit / 2 !important; margin-right: $spacing-unit / 2 !important; }
    .u-margin-horizontal-large\@lg { margin-left: $spacing-unit * 2 !important; margin-right: $spacing-unit * 2 !important; }
    .u-margin-horizontal-huge\@lg { margin-left: $spacing-unit * 4 !important; margin-right: $spacing-unit * 4 !important; }
    .u-margin-horizontal-none\@lg { margin-left: 0 !important; margin-right: 0 !important; }
    .u-margin-vertical\@lg { margin-top: $spacing-unit !important; margin-bottom: $spacing-unit !important; }
    .u-margin-vertical-tiny\@lg { margin-top: $spacing-unit / 4 !important; margin-bottom: $spacing-unit / 4 !important; }
    .u-margin-vertical-small\@lg { margin-top: $spacing-unit / 2 !important; margin-bottom: $spacing-unit / 2 !important; }
    .u-margin-vertical-large\@lg { margin-top: $spacing-unit * 2 !important; margin-bottom: $spacing-unit * 2 !important; }
    .u-margin-vertical-huge\@lg { margin-top: $spacing-unit * 4 !important; margin-bottom: $spacing-unit * 4 !important; }
    .u-margin-vertical-none\@lg { margin-top: 0 !important; margin-bottom: 0 !important; }
    .u-padding\@lg { padding: $spacing-unit !important; }
    .u-padding-tiny\@lg { padding: $spacing-unit / 4 !important; }
    .u-padding-small\@lg { padding: $spacing-unit / 2 !important; }
    .u-padding-large\@lg { padding: $spacing-unit * 2 !important; }
    .u-padding-huge\@lg { padding: $spacing-unit * 4 !important; }
    .u-padding-none\@lg { padding: 0 !important; }
    .u-padding-top\@lg { padding-top: $spacing-unit !important; }
    .u-padding-top-tiny\@lg { padding-top: $spacing-unit / 4 !important; }
    .u-padding-top-small\@lg { padding-top: $spacing-unit / 2 !important; }
    .u-padding-top-large\@lg { padding-top: $spacing-unit * 2 !important; }
    .u-padding-top-huge\@lg { padding-top: $spacing-unit * 4 !important; }
    .u-padding-top-none\@lg { padding-top: 0 !important; }
    .u-padding-right\@lg { padding-right: $spacing-unit !important; }
    .u-padding-right-tiny\@lg { padding-right: $spacing-unit / 4 !important; }
    .u-padding-right-small\@lg { padding-right: $spacing-unit / 2 !important; }
    .u-padding-right-large\@lg { padding-right: $spacing-unit * 2 !important; }
    .u-padding-right-huge\@lg { padding-right: $spacing-unit * 4 !important; }
    .u-padding-right-none\@lg { padding-right: 0 !important; }
    .u-padding-bottom\@lg { padding-bottom: $spacing-unit !important; }
    .u-padding-bottom-tiny\@lg { padding-bottom: $spacing-unit / 4 !important; }
    .u-padding-bottom-small\@lg { padding-bottom: $spacing-unit / 2 !important; }
    .u-padding-bottom-large\@lg { padding-bottom: $spacing-unit * 2 !important; }
    .u-padding-bottom-huge\@lg { padding-bottom: $spacing-unit * 4 !important; }
    .u-padding-bottom-none\@lg { padding-bottom: 0 !important; }
    .u-padding-left\@lg { padding-left: $spacing-unit !important; }
    .u-padding-left-tiny\@lg { padding-left: $spacing-unit / 4 !important; }
    .u-padding-left-small\@lg { padding-left: $spacing-unit / 2 !important; }
    .u-padding-left-large\@lg { padding-left: $spacing-unit * 2 !important; }
    .u-padding-left-huge\@lg { padding-left: $spacing-unit * 4 !important; }
    .u-padding-left-none\@lg { padding-left: 0 !important; }
    .u-padding-horizontal\@lg { padding-left: $spacing-unit !important; padding-right: $spacing-unit !important; }
    .u-padding-horizontal-tiny\@lg { padding-left: $spacing-unit / 4 !important; padding-right: $spacing-unit / 4 !important; }
    .u-padding-horizontal-small\@lg { padding-left: $spacing-unit / 2 !important; padding-right: $spacing-unit / 2 !important; }
    .u-padding-horizontal-large\@lg { padding-left: $spacing-unit * 2 !important; padding-right: $spacing-unit * 2 !important; }
    .u-padding-horizontal-huge\@lg { padding-left: $spacing-unit * 4 !important; padding-right: $spacing-unit * 4 !important; }
    .u-padding-horizontal-none\@lg { padding-left: 0 !important; padding-right: 0 !important; }
    .u-padding-vertical\@lg { padding-top: $spacing-unit !important; padding-bottom: $spacing-unit !important; }
    .u-padding-vertical-tiny\@lg { padding-top: $spacing-unit / 4 !important; padding-bottom: $spacing-unit / 4 !important; }
    .u-padding-vertical-small\@lg { padding-top: $spacing-unit / 2 !important; padding-bottom: $spacing-unit / 2 !important; }
    .u-padding-vertical-large\@lg { padding-top: $spacing-unit * 2 !important; padding-bottom: $spacing-unit * 2 !important; }
    .u-padding-vertical-huge\@lg { padding-top: $spacing-unit * 4 !important; padding-bottom: $spacing-unit * 4 !important; }
    .u-padding-vertical-none\@lg { padding-top: 0 !important; padding-bottom: 0 !important; }
}


